# Example .env file
MAX_EXPORT_SIZE=4096    # Max size of allowed Ark dino export files
MAX_SERVER_SIZE=2048    # Max size of allowed Ark server multiplier files
MAX_CONNECTIONS=1000    # Max number of concurrent listener connections
