# Example .env file
MAX_EXPORT_SIZE=4096    # Max size of allowed ARK dino export files
MAX_SERVER_SIZE=2048    # Max size of allowed ARK server multiplier files
MAX_CONNECTIONS=1000    # Max number of concurrent listener connections
PING_INTERVAL=30000	# Listener ping interval (in ms)

# @sveltejs/adapter-node
BODY_SIZE_LIMIT=8192    # Max size of any request body

DOMAIN=localhost        # Domain it'll be hosted on
